<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copias Impresas</title>
</head>
<body>
    {% extends "appproductos/index.html" %}  {% load static %}

    {% block title %}Página de Inicio{% endblock %}

    {% block contenidoQueCambia %}
        <h3>Las copias impresas varian en tamaños y terminaciones.</h3>
        <h3>Se pueden tener desde tamaños pequeños, recomendable a partir del 10x15 en adelante.</h3>
        <h3>Las superficies pueden ser mate, brillo y texturados.</h3>
        <p>Por cualquier duda consultar el README.txt</p>
        

        <h3></h3>
    {% endblock %}
</body>
</html>